.a13-container{
    height:3000px;
    width:100%;
    background-color: #000;
    position: relative;

    #chip-section{
        position:sticky;
        top:0;
        width: 100%;
        height:100vh;
        overflow:hidden;
    }
    video{
        height:100vh;
        width:auto;
        position: relative;
        left: 50%;
        transform:translate(-50%,0);
    }
    #the-chip{
        position:absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        width: 100px;
        height: 100px;   
        z-index: 10;
        box-shadow: 0px 0px 0px 100vw black , 0px 0px 0px 30px black inset;
        min-width: 100px;
        min-height: 100px;
        #A13{
            position: absolute;
            width: 100%;
            height: 100%;
            .chip{
                fill:#fff;
            }
            .text-bg{
                fill:#fff;
            }
            .chip-mask{
                fill:#000;
            }
        }
    }
    h1{
        position: absolute;
        left:0;
        color: #fff;
        font-family: Helvetica;
        font-size: 64px;
        letter-spacing: -1px;
        text-align: center;
        z-index: 20;
        width:100%;
        top: 50%;
        transform: translate(0,-50%);
        margin:0;
    }
}
